{% extends "base.jinja" %}

{% block header %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js" type="text/javascript" charset="utf-8"></script>
  <style>
    html {height:100%;}
    body {height:100%;}
    .tabs-content {height: 100% !important;}
    .carousel {height: 100% !important;}
    .carousel-item {height: 100% !important;}
  </style>
{% endblock %}

{% block content %}
  <nav class="hide-on-small-only cyan lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">WebTeX</a>
      <ul id="nav-mobile" class="right">
        <li><a href="#file_list_fixed_footer_modal" class="waves-effect waves-light modal-trigger"><i class="material-icons">view_list</i></a></li>
        <li><a href="#" class="waves-effect waves-light compile"><i class="material-icons">play_for_work</i></a></li>
        <li><a href="#" id="current">Current</a> </li>
        <li><a href="#" class="waves-effect waves-light"><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>
  <nav class="hide-on-med-and-up cyan lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">WebTeX</a>
      <ul id="nav-mobile" class="right">
        <li><a href="#file_list_fixed_footer_modal" class="waves-effect waves-light"><i class="material-icons">view_list</i></a></li>
        <li><a href="#" id="current">Current</a> </li>
        <li><a href="#" class="waves-effect waves-light"><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top: 0.75rem; height: 90vh;">
    <div class="row hide-on-med-and-down">
      <div class="col l6">
        <div id="editor-l" class="editor" style="height: 70vh;">function foo(items) {
          var x = "All this is syntax highlighted";
          return x;
        }</div>
      </div>
      <div class="col l6">
        <div class="preview" style="height: 70vh;">
        </div>
      </div>
    </div>
    <div class="row hide-on-med-and-down">
      <div class="col l6">
        <ul class="collapsible center" data-collapsible="expandable">
          <li>
            <div class="collapsible-header waves-effect waves-teal">LaTeX</div>
            <div class="collapsible-body latex-log-body"><span>testtesttest</span></div>
          </li>
        </ul>
      </div>
      <div class="col l6">
        <ul class="collapsible center" data-collapsible="expandable">
          <li>
            <div class="collapsible-header waves-effect waves-red">RedPen</div>
            <div class="collapsible-body redpen-log-body"><span>testtesttest</span></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row hide-on-large-only" style="height: 100%; margin-bottom: 0 !important;">
      <div class="col s12 m12" style="height: 100%;">
        <div class="row" style="height: 100%; margin-bottom: 0 !important; padding-bottom: 50px">
          <ul class="tabs">
            <li class="tab col s6 m6"><a href="#editor-tab">Editor</a></li>
            <li class="tab col s6 m6"><a href="#preview-tab">Preview</a></li>
          </ul>
          <div id="editor-tab" class="col s12 m12" style="height: 100%; padding-bottom: 50px;">
            <div class="row" style="height: 100%; margin-bottom: 0 !important;">
              <div class="col s12 m12" style="height: 100%;">
                <div id="editor-s" class="editor" style="height: 100%;">function foo(items) {
                  var x = "All this is syntax highlighted";
                  return x;
                  }</div>
              </div>
            </div>
          </div>
          <div id="preview-tab" class="col s12 m12" style="height: 100%;">
            <div class="row" style="height: 100%; margin-bottom: 0 !important;">
              <div class="col s12 m12" style="height: 100%;">
                <div class="preview" style="height: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="position: fixed; bottom: 0;left: 0; right: 0;width: 100%;height: 40px;margin-bottom: 0 !important;">
          <div class="col s6 m6">
            <a class="waves-effect waves-light btn teal modal-trigger" href="#latex_log_bottom_sheet_modal" style="width: 100%;">LaTeX</a>
          </div>
          <div class="col s6 m6">
            <a class="waves-effect waves-light btn red modal-trigger" href="#redpen_log_bottom_sheet_modal" style="width: 100%;">RedPen</a>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(document).ready(function() {$('ul.tabs').tabs({'swipeable': true});})</script>
    </div>
  </div>
  <div class="fixed-action-btn hide-on-med-and-up">
    <a class="btn btn-floating waves-effect waves-light red compile">
      <i class="material-icons">play_for_work</i>
    </a>
  </div>

  <!-- Bottom sheet modal to show latex/redpen logs -->
  <div id="latex_log_bottom_sheet_modal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 id="latex_log_bottom_sheet_modal_title">LaTeX Log</h4>
      <p id="latex_log_bottom_sheet_modal_content" class="latex-log-body">LaTeX Log text...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
  </div>
  <div id="redpen_log_bottom_sheet_modal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 id="redpen_log_bottom_sheet_modal_title">RedPen Log</h4>
      <p id="redpen_log_bottom_sheet_modal_content" class="redpen-log-body">RedPen Log text...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
  </div>
  <script type="text/javascript">$(document).ready(function() {$('.modal').modal();})</script>

  <!-- File list -->
  <div id="file_list_fixed_footer_modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>File list</h4>
      <!-- Upload file -->
      <form id="upload_file_form" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
      <!-- File list -->
      <form>
        <p>
          <input type="checkbox" class="checkbox_file_list_item" id="file_list_item_1"/>
          <label for="file_list_item_1">Sample1</label>
        </p>
        <p>
          <input type="checkbox" class="checkbox_file_list_item" id="file_list_item_2"/>
          <label for="file_list_item_2">Sample2</label>
        </p>
        <p>
          <input type="checkbox" class="checkbox_file_list_item" id="file_list_item_3"/>
          <label for="file_list_item_3">Sample3</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <a id="upload_file" href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Upload</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
      <a id="delete_file" href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Delete</a>
    </div>
  </div>

  <script type="text/javascript">$(document).ready(function() {$('.modal').modal();})</script>

  <script type="text/javascript">
    var editor_l = ace.edit("editor-l");
    editor_l.setTheme("ace/theme/github");
    editor_l.getSession().setMode("ace/mode/javascript");
    editor_l.getSession().setTabSize(2);
    editor_l.getSession().setUseSoftTabs(true);
    editor_l.setShowInvisibles(true);

    var editor_s = ace.edit("editor-s");
    editor_s.setTheme("ace/theme/github");
    editor_s.getSession().setMode("ace/mode/javascript");
    editor_s.getSession().setTabSize(2);
    editor_s.getSession().setUseSoftTabs(true);
    editor_s.setShowInvisibles(true);
  </script>
  <script type="text/javascript" src="{{ static('js/csrf_token_ajax.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.compile').click(compile);
    });

    function compile() {
      var content = "";
      if ($("#editor-l").is(":visible")) content = editor_l.getValue();
      else content = editor_s.getValue();
      console.log("content: " + content);

      $.ajax({
        type: 'POST',
        url: 'compile/',
        data: {
          'content':content
        },
        contentType: 'application/json',
        dataType: 'json',
        success: function (data, status, xhr) {
          console.log('success');
          var result = JSON.parse(data.ResultSet).result;
          if (result === "Success") {
            var latexLog = JSON.parse(data.ResultSet).latexLog;

            // LaTeX collapsible body と latex_log_bottom_sheet_modal_content に LaTeX ログを挿入
            $(".latex-log-body").empty();
            for (var i = 0; i < latexLog.length; ++i) {
              $(".latex-log-body").append(latexLog[i] + "<br/>");
            }

            //PDF が存在していれば、RedPen ログ、PDF ファイルを挿入
            var existPdf = JSON.parse(data.ResultSet).existPdf;
            if (existPdf === " True") {
              // RedPen ログを挿入
              var redpenOut = JSON.parse(data.ResultSet).redpenOut;
              var redpenErr = JSON.parse(data.ResultSet).redpenErr;

              // RedPen collapsible body と redpen_log_bottom_sheet_modal_content に RedPen ログを挿入
              $(".redpen-log-body").empty();
              for (var i = 0; i < redpenout.length; ++i) {
                $(".redpen-log-body").append(redpenout[i] + "<br/>");
              }

              // PDF パス
              var user = JSON.parse(data.ResultSet).user;
              var pdfPath = "../../storage/" + user + "/document.pdf";

              // コンパイルするたびに最新のものを表示させたいので、PDF パスの後ろに ? から始まるユニーク文字列を付与する
              // これをしないと、キャッシュのせいか PDF ファイル表示が更新されない
              var timestamp = new Date().getTime();
              // PDF プレビュー要素下に object タグで PDF を入れる
              $(".preview").empty();
              $(".preview").append(
                  "<object id='pdf' data='"+pdfPath+"?"+timestamp+"' type='application/pdf' width='50vw' height='70vh'></object>"
              );
            }
            //TODO: ファイルリストを更新する
          }
        },
        error: function (xhr, status, thrown) {
          console.log('error');
        }
      });
      return false;
    }
  </script>

{% endblock %}
