<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WebTeX</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://unpkg.com/materialize-css/dist/css/materialize.min.css"/>
  <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/materialize-css/dist/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block header %}
  {% endblock %}
</head>
<body style="height: 100%;">
  {% block content %}
  {% endblock %}

</body>
</html>